// Common styles for *stories* related pages
// Things for *stories index* and *posts* 
// are to be implemented withing 
// *_stories-index.scss* and *_post.scss*

.layout-stories{
  @extend .row;
  main[role="main"]{
    @extend .col-md-45;
  }
  aside{
    margin-top: 80px;
    letter-spacing: $font-letter-spacing;
    @extend .col-md-15;
    @media (min-width: $screen-md-min) {
      margin-top: 0;
    }
    .story-filters{
      a{
        display: block;
        color: $color-black;
        &:hover, &.active{
          color: $color-orange;
        }
      }
      .dropdown{
        @extend .visible-xs-block;
        @extend .visible-sm-block;
      }
      .filters-href{
        @extend .hidden-xs;
        @extend .hidden-sm;
      }
      .search{
        @extend .hidden-xs;
      }
    }
  }
  .filters-href-list{
    height: 10px;
    margin-top: -9px;
    overflow: hidden;
    position: relative;
    transition: height 0.5s ease-in-out 0s;
    &:after{
      border-bottom: 10px solid $color-black;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
    }
    a{
      &:last-of-type{
        margin-bottom: 10px;
      }
    }
    .filters-href-button{
      bottom: 0px;
      opacity: 0;
      position: absolute;
      right: 0;
      transition: opacity 0.5s ease-in-out 0s;
      z-index: 10;
    }
  }
  .filters-href-button{
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 34px;
    i{
      left: 1px;
      position: relative;
      top: -1px;
    }
  }
  .filters-href{
    h3{
      margin-bottom: 25px;
      transition: margin-bottom 0.5s ease-in-out 0s;
      .filters-href-button{
        float: right;
        position: relative;
        top: -4px;
      }
    }
  }
  .filters-href_open{
    h3{
      margin-bottom: 20px;
    }
    .filters-href-list{
      .filters-href-button{
        opacity: 1;
      }
    }
    .filters-href-button{
      i{
        &:before{content:"\f077"}
      }
    }
  }
}
