.include-related-posts{
  @extend .row;
  margin-top: 0;
  height: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 20px;
    height: auto;
  }
  h2{
    @extend .col-md-60;
    display: none;
    font-size: 2.369em;
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
  .related-post{
    $details-height: 85px;
    $image-height: 163px;
    @extend .col-md-30;
    @extend .col-sm-30;
    display: none;
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      &:nth-child(2), &:nth-child(3){
        display: block;
        opacity: 1;
      }
    }
    .related-post-inner{
      background: $color-orange;
      height: 15vw;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      @media (min-width: $screen-sm-min) {
        position: relative;
        height: $image-height + $details-height;
      }
    }
    .image{
      background-position: 50% 50%;
      background-size: cover;
      display: block;
      float: left;
      height: 15vw;
      width: 30vw;
      @media (min-width: $screen-sm-min) {
        float: none;
        height: $image-height + 2;
        width: 100%;
      }
    }
    .details{
      box-sizing: border-box;
      color: black;
      display: inline-block;
      font-family: $font-family-condensed;
      padding: 3vw 2vw;
      font-size: 2.5vw;
      line-height: 1;
      text-transform: uppercase;
      width: 69vw;
      @media (min-width: $screen-sm-min) {
        background: $color-orange;
        bottom: 0;
        display: block;
        font-size: 1.3em;
        left: 0;
        margin-bottom: -1px;
        min-height: $details-height;
        padding: 10px 7px;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
    .date{
      display: none;
      @media (min-width: $screen-sm-min) {
        color: white;
        display: block;
        line-height: 1.4;
      }
    }
    .title{
      display: block;
      font-weight: bold;
      margin-top: 0.2em;
      min-height: 1.9em;
      overflow: hidden;
      @media (min-width: $screen-sm-min) {
      }
      /*&:after {*/
        /*background: linear-gradient(to right, rgba($color-orange, 0), rgba($color-orange, 1) 50%);*/
        /*bottom: 0;*/
        /*content: "";*/
        /*height: 1.4em;*/
        /*position: absolute;*/
        /*right: 0;*/
        /*text-align: right;*/
        /*width: 20%;*/
      /*}*/
    }
  }
}
